nav {
    background-color: rgb(131, 4, 4);
    position: sticky;
    top: 0;
}

.ol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.li {
    list-style-type: none;
    padding: 10px;
    transition: 0.2s ease-in;
}

.li:hover {
    transform: scale(1.15);
}

.img1 {
    width: 35px;
}

.img2 {
    width: 25px;
}

a {
    color: #fffad3;
    text-decoration-line: none;
}

.currPage {
    position: absolute;
    top: 60px;
    left: 18px;
    font-size: .8em;
    color: rgb(131, 4, 4);
    font-weight: bold;
}